<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>APABAY.COM MUA SẮM DỄ DÀNG HƠN</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--
        Stylesheets and Preprocessors
        ==============================

    -->

    <!--STYLES-->
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <link rel="icon" href="images/favicon.png" type="image/x-icon"/>
    <!--STYLES END-->
  </head>

  <body class="home">
    <div class="preloading">
      <div class="preloader loading">
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
      </div>
    </div>
    <div id="wrapper">
      <header id="header" class="site-header">
        <div class="container">
          <div class="site-brand">
            <a href="index.html"><img src="images/assets/logo.png" alt=""></a>
          </div><!-- .site-brand -->
          <div class="right-header">					
            <nav class="main-menu">
              <button class="c-hamburger c-hamburger--htx"><span></span></button>
              <ul>
                <li>
                  <a href="#">Home<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  <ul class="sub-menu">
                    <li><a href="index.html">Home v1</a></li>
                    <li><a href="index_2.html">Home v2</a></li>
                    <li><a href="index_3.html">Home v3</a></li>
                    <li><a href="index_gradient.html">Home Gradient</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Explore<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  <ul class="sub-menu">
                    <li><a href="explore_layout_one.html">Explore Layout One</a></li>
                    <li><a href="explore_layout_two.html">Explore Layout Two</a></li>
                    <li><a href="explore_layout_three.html">Explore Layout Three</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Start a Campaigns<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  <ul class="sub-menu">
                    <li><a href="create_a_campaign.html">Create a campaign</a></li>
                    <li><a href="update_a_campaign.html">Update a campaign</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Pages<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  <ul class="sub-menu">
                    <li><a href="coming_soon.html">Coming Soon</a></li>
                    <li><a href="about_us.html">About Us</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    <li><a href="campaign_detail.html">Campaign details</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Blog<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  <ul class="sub-menu">
                    <li><a href="blog_grid.html">Blog Grid</a></li>
                    <li><a href="blog_list.html">Blog List</a></li>
                    <li><a href="blog_list_sidebar.html">Blog Grid Sidebar</a></li>
                    <li><a href="blog_details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Shop<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  <ul class="sub-menu">
                    <li><a href="shop-grid.html">Shop Grid</a></li>
                    <li><a href="shop-details.html">Shop Details</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                  </ul>
                </li>
                <li><a href="contact_us.html">Contact</a></li>
                <li>
                  <a href="#">Account<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  <ul class="sub-menu">
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="account_my_campaigns.html">My Campaigns</a></li>
                    <li><a href="account_pledges_received.html">Pledges Received</a></li>
                    <li><a href="account_backed_campaigns.html">Backed Campaigns</a></li>
                    <li><a href="account_rewards.html">Rewards</a></li>
                    <li><a href="account_payments.html">Payments</a></li>
                  </ul>
                </li>
              </ul>
            </nav><!-- .main-menu -->
            <div class="search-icon">
              <a href="#" class="ion-ios-search-strong"></a>
              <div class="form-search"></div>
              <form action="#" method="POST" id="searchForm">
                  <input type="text" value="" name="search" placeholder="Search..." />
                  <button type="submit" value=""><span class="ion-ios-search-strong"></span></button>
                </form>
            </div>	
  
            <div class="login login-button">
              <a href="login.html" class="btn-primary">Login</a>
            </div><!-- .login -->
          </div><!--. right-header -->
        </div><!-- .container -->
      </header><!-- .site-header -->

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <!--TEMPLATES END-->


    <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="libs/popper/popper.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="libs/jquery.countdown/jquery.countdown.min.js"></script>
    <script src="libs/wow/wow.min.js"></script>
    <script src="libs/isotope/isotope.pkgd.min.js"></script>
    <script src="libs/bxslider/jquery.bxslider.min.js"></script>
    <script src="libs/magicsuggest/magicsuggest-min.js"></script>
    <script src="libs/quilljs/js/quill.core.js"></script>
    <!--SCRIPTS END-->
    <script src="js/main.js"></script>
  </body>
</html>
